<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<title>And a Hedgehog</title>
    <link rel="stylesheet" href="media/stylesheets/normalize.css" />
    <link rel="stylesheet" href="media/stylesheets/foundation.css" />
    <link rel="stylesheet" href="media/stylesheets/stylesheet.css" />
</head>
<body>
<div id="App">
    <div data-bind="template: { name: Template(), data: TemplateViewModel() }" id="PageTemplate"></div>
</div>
<div id="Views">
	<!-- build:section views -->
	<!-- /build -->
</div>
<script type="text/javascript" src="media/javascript/libs.js"></script>
<script type="text/javascript" src="media/javascript/app.js"></script>
</body>
</html>