<!DOCTYPE html>
<html>
<head>
	<title>And a Hedgehog</title>
    <link rel="stylesheet" href="media/stylesheets/normalize.css" />
    <link rel="stylesheet" href="media/stylesheets/foundation.css" />
    <link rel="stylesheet" href="media/stylesheets/stylesheet.css" />
</head>
<body>
<div id="App">
	<div data-bind="template: { name: 'inventory', data: Player.Inventory }" id="Inventory"></div>
    <div data-bind="template: { name: Scene.Template, data: Scene }" id="Scene"></div>
</div>
<div id="Views">
	<!-- build:section views -->
	<!-- /build -->
</div>
<script type="text/javascript" src="media/javascript/libs.js"></script>
<script type="text/javascript" src="media/javascript/app.js"></script>
</body>
</html>